<!DOCTYPE html>
<html>
    <head>
        <title>Discipline</title>
        {% load static %}
        <link rel="stylesheet" href=" {% static 'disciplineapp/css/index.css' %} ">
    </head>
    <body>
        <header>
            <div>
               <center><h1>Welcome in Discipline</h1></center>
            </div>
        </header>
        <main>
            <p>At the moment this page serves only to demonstrate i was able to create a template.</p>
            <p>It's my intention though to progress further and fast into Django framework. </p>
        </main>
        <footer>
            <p>User registred:</p>
            <ul>
                {% for user in users%}
                <li>{{ user.username }}</li>
                {% endfor %}
            </ul>
            <p></p>
            <p>To sign up click <a href="signup">here</a></p>
            <p>Your username will appear on homepage to welcome you even further</p>
        </footer>
    </body>
</html>