<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        {% load static %}
        <link rel="stylesheet" href=" {% static 'disciplineapp/css/login.css' %} ">
    </head>
    <body>
        <center>
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <h1>Login:</h1>
                    <label for="username"><b>Username:</b></label>
                    <input type="text" name="username" required>
                    <p></p>
                    <label for="password"><b>Password:</b></label>
                    <input type="password" name="password" required>
                    <div>
                        <p></p>
                        <button class="button" type="submit">Login</button>
                    </div>
                </div>
            </form>
                <p></p>
                <a href="/">Return to Homepage</a>
        </center>
    </body>
</html>
