<!DOCTYPE html>

<html>
    <head>
        <title>Sign Up!</title>
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <meta charset="UTF-8">
    </head>
    <body>
        <center>
            <form method="post">
                {% csrf_token %}
                <div class="container">
                    <h1>Signup</h1>
                    <label for="username"><b>Username:</b></label>
                    <input type="text" name="username" required>
                    <p></p>
                    <label for="password1"><b>Password:</b></label>
                    <input type="password" name="password1" required>
                    <p></p>
                    <label for="password2"><b>Password:</b></label>
                    <input type="password" name="password2" required>
                    <div>
                        <p></p>
                        <button class="button" type="submit">Signup</button>
                    </div>
                </div>
            </form>
                <p></p>
                <a href="/">Return to Homepage</a>
        </center>
    </body>
</html>
